* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .center_div {
    background: repeat-x scroll center top transparent;
    width: 10040px;
    height: 45vh;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 180px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
  }
  
  .cardheader {
    height: 50px;
    padding: 2px;
    color: white;
    padding-top: 15px;
    text-align: center;
    /* background-color: rgb(76, 12, 76); */
    background-color: #17A9FD;
    /* margin-bottom: 20px; */
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
  }
  
  